# Client-specific ignores
client/build/bin
node_modules/
client/frontend/dist/
client/frontend/package.json.md5

# Server-specific ignores
# Ignore the compiled server binary
server/server
server/wails-applauncher-client
